@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document 
  
domain("www.teamliquid.net"),
domain("www.liquiddota.com"),
domain("www.liquidhearth.com")
/*domain("www.liquidlegends.net")*/
{
  body, tr.odd, .registration_form
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  div[style]
  {
    background: transparent !important;
  }
  
  .calhead button, .calhead select
  {
    filter: invert(100%);
    background: #CCC;
  }
  
  #news_column_left
  {
    border: none;
    background: #0A0A0A;
  }
  
  #main-content, .sidebar_block .sbcontents, td.sidemenu, #fp_wrap #fp_content, td.lichtb, .ev-btn:hover, #main-content-wide, #evcal.viewwk .ev-block:hover, tr.even, .rsb-block
  {
    background: #0A0A0A;
  }
  
  td.donkerb, .fp1 > section > article, #news_poll, #news_spotlight, td.sidemenu .ev-live, .forum-index, #evcal.viewwk .ev-block, #evcal td
  {
    background-color: #1C1C1C;
  }
  
  .sidebar_block .sbcontents a:hover, .sidebar_block .sbcontents a:visited ,.sidebar_block .sbcontents a:link, a.rightmenu:hover, a.rightmenu:link, a.rightmenu:visited, a.nounderline:hover, a.nounderline:link, a.nounderline:visited, a:hover, a:link, a:visited, a, #news_community ul li h4.thread_title a:hover, #news_community ul li h4.thread_title a:link, #news_community ul li h4.thread_title a:visited, #news_spotlight h4.thread_title a, #news_spotlight h4.thread_title a:visited, #news_spotlight h4.thread_title a:hover
  {
      color: #0973BF;
  }
  
  .sidebar_block .sbcontents .sbtitle a:link, .sidebar_block .sbcontents .sbtitle a:visited, .sidebar_block .sbcontents .sbtitle a:hover, td
  {
    color: #CCCCCC;
    padding-bottom: 5px;
  }
  
  .forumsig, .quote, #evcal td
  {
    color: #CCCCCC;
  }
  
  p, #navwrapper, a.block_header, .submessage, .rightmenu, .forumindex, .forummsginfo, a.block_header, .forummsg, .submessage label, .ev-feed, #article .text
  {
    color: #FAFAFA !important;
  }
  
  .fp_box_content, #news_community, .lightback, .featurebox:hover, .featurebox
  {
    background: #1C1C1C;
    border: solid white 1px;
  }
  
  td.titelbalk, div#spoiler_1, div#spoiler_2, div#spoiler_3, div#spoiler_4, div#spoiler_5, div#spoiler_6, div#spoiler_7, div#spoiler_8, div#spoiler_9, div#spoiler_10, div#spoiler_11, div#spoiler_12, div#spoiler_13, div#spoiler_14, div#spoiler_15, div#spoiler_16, div#spoiler_17, div#spoiler_18, div#spoiler_19, div#spoiler_20, div#spoiler_21, div#spoiler_22, div#spoiler_23, div#spoiler_24, div#spoiler_25, div#spoiler_26, div#spoiler_27, div#spoiler_28, div#spoiler_29, div#spoiler_30
  {
    background-color: #0A0A0A !important;
  }
  
  .sidebar_block .block-news_left_mid a.comments, span.viewers
  {
    text-shadow: none;
  }
  
  a[href]
  {
    text-shadow: none !important;
  }
  
  .regerror
  {
    background: #B44335;
  }
  
  #TLStrategybody, .solid footer, .pagination a:hover
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  #searchicon, .forumPost, .pagination a, #Newsintro
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  td[style="background:#fff;padding:20px;padding-top:20px;padding-bottom:20px;text-align:center;font-size:16px"]
  {
    border: solid white 1px;
    background: #1C1C1C !important;
  }
}

@-moz-document 
  
url-prefix("http://www.teamliquid.net/mytlnet/")
{
  td[style], TD.btn_down
  {
    background-color: #0A0A0A !important;
    border: solid white 1px !important;
  }
  
  TR.pm_boxhead
  {
    background: #1C1C1C;
  }
  
  TD.pm_boxtop, td, .srch_hd
  {
    background: #254673;
    border: solid white 1px;
  }
}

@-moz-document

url-prefix("http://wiki.teamliquid.net/")
{
  body, div.mpboxtitle, div#userloginForm form, div.flaggedrevs_preview, div.flaggedrevs_short, div.whitebox 
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  #content, #toc, .toc, .fo-nttax-infobox, div.noarticletext, #preferences, .prefsection table, .prefsection table, .prefsection legend, .match-filler
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  #pagehistory li.selected
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .flaggedrevs-color-1
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  h1, h2, h3, h4, h5, h6, i, dl, dd, p, b, body, .suggestions-special .special-query, .suggestions-result, #content, .mw-ui-vform > div label, #preftoc a
  {
    color: #FAFAFA !important;
  }
  
  table
  {
    color: #FAFAFA !important;
    background: transparent;
  }
  
  a, a:link, a:visited, div.generated-sidebar a:link, div.generated-sidebar a:visited, #p-tb a:link, #p-tb a:visited, abbr, div.mpwelcome, div.mpwelcome a:link, div.mpwelcome a:visited, div.mpsubtitle, ul.tabs li
  {
     color: #0973BF !important;
  }
  
  .fo-nttax-infobox > div:nth-child(2n+1), table[style], table.wikitable > * > tr > th 
  {
    background: #0A0A0A !important;
    color: #FAFAFA !important;
  }
  
  div.generated-sidebar div.pBody
  {
    background: #0A0A0A;
    border-top: solid 1px;
    border-color: white;
  }
  
  div.portlet h5, #p-tb h5, #p-search h5, #p-search div.pBody, #p-tb div.pBody, table.wikitable, div.tabs-content
  {
    background: #0A0A0A;
    border-color: white;
    text-shadow: none;
    color: #FAFAFA;
  }
  
  .catlinks, #catlinks
  {
    background: #0A0A0A;
  }
  
  div.portlet h5, #p-tb h5
  {
    border-bottom: solid white 1px;
  }
  
  #p-General_Information h5, #p-Navigation h5, #p-StarCraft_II_Strategy h5, #p-Competition h5
  {
    text-shadow: none;
  }
  
  .fo-nttax-infobox-wrapper.infobox-hots .infobox-header, body[class*="ns-2 ns-subject"] #firstHeading::before
  {
    background: #B44335;
  }
  
  .errorbox, .fo-nttax-infobox-wrapper.infobox-lotv .infobox-header, .fo-nttax-infobox-wrapper .infobox-header
  {
    background: #B44335;
    color: #FAFAFA;
  }
  
  .navbox-title, table.navbox th, ul.tabs li, #p-cactions .new a, #p-cactions li
  {
    background: #0A0A0A;
  }
  
  .navbox-even, ul.tabs li.active, #p-cactions li.selected a, #preftoc li.selected
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  #p-cactions li a, #preftoc li
  {
    background: #0A0A0A;
    color: #0973BF;
  }
  
  #p-cactions li a:hover
  {
    background: #0A0A0A;
  }
  
  .navbox-group, tr[bgcolor], span[style]
  {
    background: #1C1C1C !important;
  }
  
  .lp-banner-container, div.thumbinner, .lp-banner-container.lp-banner-left-3
  {
    background: #0A0A0A;
  }
  
  div[style]
  {
    background-color: #0A0A0A !important;
    border: solid white 1px !important;
    color: #FAFAFA !important;
  }
  
  .mw-ui-vform > div input:not([type="button"]):not([type="submit"]):not([type="file"]), #searchInput, .suggestions-results
  {
    background: #383635;
    color: #FAFAFA;
  }
  
  .mw-ui-button:hover
  {
    background: #0A0A0A;
  }
  
  .mw-ui-button
  {
    background: #1C1C1C;
  }
  
  #mw-createaccount-join
  {
    box-shadow: none;
  }
}